header {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  gap: 50px;
}

img {
  width: 50px;
}

nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav a {
  text-decoration: none;
}
